<section class="content-header">
  <h1>
    Cadastro Condôminos
    <small>Formulario de cadastro</small>
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">


  <div id="main" class="container-fluid">

    <!--Modificando o titulo da pagina-->
    <h3 class="page-header">Preencha as informações do Predio</h3>

    <!--Adcionar botoes-->
    <form action="index.html">
      <!-- area de campos do form -->

      <!--Adcionar campos-->
      <div class="row">

        <div class="form-group col-md-12">
          <label for="campo1">Nome</label>
          <input type="text" class="form-control" id="campo1">

        </div>

        <div class="form-group col-md-4">
          <label for="input-CNPJ">CNPJ</label>
          <input type="text" class="form-control cnpj-mask" id="input-CNPJ" placeholder="Ex.: 00.000.000.0000-00"
            maxlength="14" autocomplete="off">
        </div>

        <div class="form-group col-md-4">
          <label for="example-input-1">Lançamento</label>
          <input type="text" class="form-control date-mask" id="example-input-1" placeholder="Ex.: dd/mm/aaaa"
            maxlength="10" autocomplete="off">
        </div>


        <div class="form-group col-md-4">
          <label for="input-construtora">Construtora</label>
          <input type="text" class="form-control Construtora-mask" id="input-construtora" placeholder=" ">
        </div>

        <div class="form-group col-md-1">
          <label for="input-Nandares">N andares</label>
          <input type="number" class="form-control Nandares-mask" id="input-Nandares" placeholder=" ">
        </div>


        <div class="form-group col-md-3">
          <label for="campo1">Contato:</label>
          <input type="text" class="form-control phone-mask" placeholder="Ex.: 0000-0000">
        </div>


        <div class="form-group col-md-5">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ex.: seuemail@hotmail.com">
        </div>


        <div class="form-group col-md-3">
          <label for="campo2">CEP</label>
          <input type="text" class="form-control cep-mask" placeholder="Ex.: 00000-000">
        </div>

        <div class="form-group col-md-5">
          <label for="inputState">Rua</label>
          <input type="text" class="form-control phone-mask" placeholder="Rua x">
        </div>

        <div class="form-group col-md-2">
          <label for="inputState">Numero</label>
          <input type="text" class="form-control phone-mask" placeholder="Rua x">
        </div>

        <div class="form-group col-md-5">
          <label for="inputState">Setor</label>
          <input type="text" class="form-control phone-mask" placeholder="Rua x">
        </div>

        <div class="form-group col-md-10">
          <label for="inputState">Complemento</label>
          <input type="text" class="form-control phone-mask" placeholder="Rua x">
        </div>

        <div class="form-group col-md-1">
          <label for="inputState">UF</label>
          <select id="inputState" class="form-control">
            <option value="">Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MT">Mato Grosso</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>

          </select>
        </div>


        <div class="form-group col-md-1">
          <label for="input-NTorre">N Torres</label>
          <input type="text" class="form-control NAp-mask" id="input-NTorre" placeholder=" ">
        </div>


      </div>



      <div id="box">

        <div class="row">
          <div class="form-group col-md-2">
            <label for="campo3">Banco</label>
            <select id="inputState" class="form-control">
              <option value="APLiberty">Selecione o Banco</option>
              <option value="BB">001-Banco do Brasil</option>
              <option value="Unibanco">002-Banco Itau</option>
              <option value="CEF">003-Caixa Economica Federal</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="Magencia">Agencia</label>
            <input type="number" class="form-control" id="Nagencia">
          </div>

          <div class="form-group col-md-4">
            <label for="Nconta">Conta</label>
            <input type="number" class="form-control" id="Nconta">
          </div>

          <div class="form-group col-md-3">
            <label for="campo3">Tipo de conta</label>
            <select id="inputState" class="form-control">
              <option value="APLiberty">Selecione o tipo de conta</option>
              <option value="APLiberty">001-conta corrente</option>
              <option value="APSolDourado">013-conta poupança</option>
            </select>
          </div>

          <div class="form-group col-md-1">
            <label for="SalvarListaBancos">Salvar</label>
            <button type="button" onClick="return false;" class="btn-Banco">
              <i class="fa fa-fw fa-send"></i>
            </button>
          </div>



          <div class="form-group col-md-12">
            <label for="exampleFormControlSelect2">Bancos cadastrados</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>BB</option>
              <option>Itau</option>
              <option>CEF</option>
              <option>Bradesco</option>
              <option>HSBC</option>
            </select>
          </div>
        </div>

      </div>

      <hr />
      <div id="actions" class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a href="" class="btn btn-danger">Cancelar</a>
        </div>
      </div>

    </form>
  </div>

</section>