<section class="content-header">
  <h1>
    Cadastro Condôminos
    <small>Formulario de cadastro</small>
  </h1>
</section>

  <!-- Main content -->
  <section class="content container-fluid">

    <!--------------------------
      | Your Page Content Here |
      -------------------------->

      <div id="main" class="container-fluid">
                  
          <!--Modificando o titulo da pagina--> 
              <h3 class="page-header">Preencha as informações pessoais</h3>
          
              <!--Adcionar botoes-->    
              <form action="index.html">
              <!-- area de campos do form -->

              <!--Adcionar campos-->
              <div class="row">
                    
                    <div class="form-group col-md-12">
                      <label for="campo1">Nome</label>
                      <input type="text" class="form-control" id="campo1">
                      
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label for="campo2">CPF</label>
                        <input type="text" class="form-control cpf-mask" id= "input-CPF" placeholder="Ex.: 000.000.000-00" maxlength="14" autocomplete="off">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="example-input-1">Nascimento</label>
                        <input type="text" class="form-control date-mask" id="example-input-1" placeholder="Ex.: dd/mm/aaaa" maxlength="10" autocomplete="off">
                    </div>
                  
                    <div class="form-group col-md-4">
                          
                          <label for="example-input-1">Sexo</label>
                          <select id="inputState" class="form-control">
                              <option value="Não definido">Sexo</option>
                              <option value="Solteiro">Masculino</option>
                              <option value="Casado">Feminino</option>
                          </select>
                    </div>

                    
                    <div class="form-group col-md-2">
                        <label for="inputState">Estado Civil</label>
                        <select id="inputState" class="form-control">
                            <option value="Não definido">Estado Civil</option>
                            <option value="Solteiro">Solteiro(a)</option>
                            <option value="Casado">Casado(a)</option>
                        </select>
                      </div>
                      
                      <div class="form-group col-md-4">
                          <label for="input-profissao">Profissão</label>
                          <input type="text" class="form-control profissao-mask" id="input-profissao" placeholder=" " >
                      </div>

                      <div class="form-group col-md-6">
                          <label for="input-NomeMãe">Nome da Mãe</label>
                          <input type="text" class="form-control NomeMãe-mask" id="input-NomeMãe" placeholder=" " >
                      </div>

                      
                      <div class="form-group col-md-3">
                          <label for="campo1">Telefone fixo:</label>
                          <input type="text" class="form-control phone-mask" placeholder="Ex.: 0000-0000">
                      </div>
                        
                      
                      <div class="form-group col-md-3">
                          <label for="campo1">Telefone celular com DDD:</label>
                          <input type="text" class="form-control phone-ddd-mask" placeholder="Ex.: (00) 0000-0000">
                      </div>

                    
                      <div class="form-group col-md-6">
                          <label for="exampleInputEmail1">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ex.: seuemail@hotmail.com">
                      </div>

                      <div class="form-group col-md-10">
                          <label for="inputState">Endereço</label>
                          <select id="inputState" class="form-control">
                              <option value="APLiberty">Selecione o condominio</option>
                            <option value="APLiberty">Liberty II</option>
                            <option value="APSolDourado">Sol Dourado</option>
                          </select>
                        </div>


                    <div class="form-group col-md-2">
                      <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control">
                        <option value="">Selecione</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                      
                      </select>
                    </div>

                        <div class="form-group col-md-4">
                          <label for="campo2">CEP</label>
                          <input type="text" class="form-control cep-mask" placeholder="Ex.: 00000-000">
                        </div>
                        
                    <div class="form-group col-md-4">
                        <label for="input-NAp">Ap</label>
                        <input type="text" class="form-control NAp-mask" id="input-NAp" placeholder="Ap-xxxx " >
                  </div>

                  
                  <div class="form-group col-md-4">
                      <label for="input-NTorre">Torre</label>
                      <input type="text" class="form-control NAp-mask" id="input-NTorre" placeholder=" " >
                </div>
                            

              </div>    
              
              
              <div class="row">
                  <div class="form-group col-md-2">
                      <label for="campo3">Banco</label>
                      <select id="inputState" class="form-control">
                          <option value="APLiberty">Selecione o Banco</option>
                        <option value="BB">001-Banco do Brasil</option>
                        <option value="Unibanco">002-Banco Itau</option>
                        <option value="CEF">003-Caixa Economica Federal</option>
                      </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="Magencia">Agencia</label>
                        <input type="number" class="form-control" id="Nagencia">
                      </div>
                      
                      <div class="form-group col-md-4">
                        <label for="Nconta">Conta</label>
                        <input type="number" class="form-control" id="Nconta">
                      </div>
                    
                    <div class="form-group col-md-4">
                              <label for="campo3">Tipo de conta</label>
                              <select id="inputState" class="form-control">
                                  <option value="APLiberty">Selecione o tipo de conta</option>
                                <option value="APLiberty">001-conta corrente</option>
                                <option value="APSolDourado">013-conta poupança</option>
                              </select>
                    </div>
              

              </div>
              
                  <hr />
                  <div id="actions" class="row">
                    <div class="col-md-12">
                      <button type="button" onclick="return false;" class="btn btn-primary">Salvar</button>
                      <a href="" class="btn btn-danger">Cancelar</a>
                    </div>
                  </div>
            
            </form>
          
          
          
        </div>


  </section>
  