<section class="content-header">
  <h1>
    Jader Henrique Faria Amorim
    <small>Informações</small>
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
        | Your Page Content Here |
        -------------------------->

  <div id="main" class="container-fluid">

    <!--Modificando o titulo da pagina-->
    <h3 class="page-header">Informações pessoais</h3>

    <!--Adcionar botoes-->
    <form action="index.html">
      <!-- area de campos do form -->

      <!--Adcionar campos-->
      <div class="row">

        <!-- Linha 1 -->
        <div class="form-group col-md-3">
          <label for="campo2">CPF</label>
          <p>000.000.000-00</p>
        </div>

        <div class="form-group col-md-2">
          <label for="example-input-1">Nascimento</label>
          <p>07/11/1992</p>
        </div>

        <div class="form-group col-md-3">
          <label for="example-input-1">Sexo</label>
          <p>Masculino</p>
        </div>

        <div class="form-group col-md-2">
          <label for="example-input-1">Estado Civil</label>
          <p>Solteiro(a)</p>
        </div>

        <div class="form-group col-md-2">
          <label for="input-profissao">Profissão</label>
          <p>Estudante</p>
        </div>
        <!--fim da linha 1  -->

        <!-- Linha 2 -->

        <div class="form-group col-md-4">
          <label for="input-NomeMãe">Nome da Mãe</label>
          <p>Maria de Fatima</p>
        </div>


        <div class="form-group col-md-2">
          <label for="campo1">Telefone fixo:</label>
          <p>(62)32786054</p>
        </div>


        <div class="form-group col-md-2">
          <label for="campo1">Telefone celular com DDD:</label>
          <p>(62)985533554</p>
        </div>


        <div class="form-group col-md-4">
          <label for="exampleInputEmail1">Email</label>
          <p>jaderhfa@hotmail.com</p>
        </div>
        <!-- fim linha 2 -->

        <!-- linha 3 -->

        <div class="form-group col-md-6">
          <label for="inputState">Endereço</label>
          <p>Condominio Liberty II</p>
        </div>


        <div class="form-group col-md-2">
          <label for="inputState">Estado</label>
          <p>Goias</p>
        </div>

        <div class="form-group col-md-2">
          <label for="campo2">CEP</label>
          <p>74000-000</p>
        </div>

        <div class="form-group col-md-1">
          <label for="input-NAp">Ap</label>
          <p>1235</p>
        </div>


        <div class="form-group col-md-1">
          <label for="input-NTorre">Torre</label>
          <p>2</p>
        </div>


      </div>


      <div class="row">
        <div class="form-group col-md-2">
          <label for="campo3">Banco</label>
          <p>CEF- Caixa Econominca Federal</p>
        </div>

        <div class="form-group col-md-2">
          <label for="Magencia">Agencia</label>
          <p>23255</p>
        </div>

        <div class="form-group col-md-4">
          <label for="Nconta">Conta</label>
          <p>54788-2</p>
        </div>

        <div class="form-group col-md-4">
          <label for="campo3">Tipo de conta</label>
          <p>013-conta poupança</p>
          </select>
        </div>


        <hr />
        <div id="actions" class="row">
          <div class="col-md-12">
            <a href="" class="btn btn-default">Voltar</a>
            <a href="" class="btn btn-primary">Atualizar</a>
            <a href="" class="btn btn-info">Inicio</a>
          </div>
        </div>


      </div>


    </form>



  </div>


</section>