<section class="content-header">
  <h1>
    Condominio Liberty II
    <small>Informações</small>
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
        | Your Page Content Here |
        -------------------------->

  <div id="main" class="container-fluid">


    <!--Adcionar botoes-->
    <form action="index.html">
      <!-- area de campos do form -->

      <!--Adcionar campos-->

      <div class="row">

        <div class="form-group col-md-12">
          <label for="campo1">Razão Social</label>
          <p> Empreendimento MRV Condominio Residencial Liberty II </p>

        </div>

        <div class="form-group col-md-3">
          <label for="input-CNPJ">CNPJ</label>
          <p> 00.000.000.0000-00 </p>
        </div>

        <div class="form-group col-md-3">
          <label for="example-input-1">Lançamento</label>
          <p> dd/mm/aaaa </p>
        </div>


        <div class="form-group col-md-3">
          <label for="input-construtora">Construtora</label>
          <p>Construtora</p>
        </div>

        <div class="form-group col-md-3">
          <label for="input-Nandares">N andares</label>
          <p>Numero de andares</p>
        </div>


        <div class="form-group col-md-3">
          <label for="campo1">Contato:</label>
          <p>(62)0000-0000</p>
        </div>


        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Email</label>
          <p>meu@mail.com</p>
        </div>


        <div class="form-group col-md-3">
          <label for="campo2">CEP</label>
          <p>74000-000</p>
        </div>

        <div class="form-group col-md-3">
          <label for="inputState">Rua</label>
          <p>Rua xxxxx </p>
        </div>

        <div class="form-group col-md-1">
          <label for="inputState">Numero</label>
          <p>444</p>
        </div>

        <div class="form-group col-md-3">
          <label for="inputState">Setor</label>
          <p>Setor Bueno</p>
        </div>

        <div class="form-group col-md-5">
          <label for="inputState">Complemento</label>
          <p>Qd XX Lt xx-aa</p>
        </div>

        <div class="form-group col-md-2">
          <label for="inputState">Estado</label>
          <p>Goias</p>
        </div>

      </div>


      <div class="table-wrapper-scroll-y">

        <table class="table table-wrapper-scroll-y">
          <thead>
            <tr>
              <th scope="col">N</th>
              <th scope="col">Bancos Cdastrados</th>
              <th scope="col">Agencia</th>
              <th scope="col">Conta</th>
              <th scope="col">Operação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Banco do Brasil</td>
              <td>0000-0</td>
              <td>000000-0</td>
              <td>013</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Itau</td>
              <td>1234-5</td>
              <td>665888-8</td>
              <td>001</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bradesco</td>
              <td>6554</td>
              <td>1345446-5</td>
              <td>001</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>HSBC</td>
              <td>5656</td>
              <td>55488-2</td>
              <td>013</td>
            </tr>
          </tbody>
        </table>

      </div>

      <hr />
      <div id="actions" class="row">
        <div class="col-md-12">
          <a href="" class="btn btn-info">Inicio</a>
          <a href="" class="btn btn-primary">Atualizar</a>
          <a href="" class="btn btn-danger">Cancelar</a>
        </div>
      </div>
      <hr />


      <div class="container" id="box">

        <div class="form-group col-md-12">
          <label for="exampleFormControlSelect2">Condôminos</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Jader Henrique</option>
            <option>Dominic</option>
            <option>Jhonatan</option>
            <option>David</option>
          </select>
        </div>

        <hr />
        <div id="actions" class="row">
          <div class="col-md-12">
            <a href="" class="btn btn-primary">Listar</a>
          </div>
        </div>
      </div>


    </form>



  </div>


</section>