<section class="content-header">
  <h1>
    Condominio Liberty II
    <small> - Última Atualização: 16/10/2018 16:55 - ADMIN</small>
  </h1>
</section>

<!-- Main content -->
<hr />
<section class="content container-fluid">

  <!--------------------------
        | Your Page Content Here |
        -------------------------->

  <div id="main" class="container-fluid">


    <!--Adcionar botoes-->
    <form>
      <!-- area de campos do form -->

      <!--Adcionar campos-->

      <div class="row">

        <div class="form-group col-md-12">
          <label for="campo1">Razão Social</label>
          <p> Empreendimento MRV Condominio Residencial Liberty II </p>

        </div>

        <div class="form-group col-md-3">
          <label for="input-CNPJ">CNPJ</label>
          <p> 00.000.000/0000-00 </p>
        </div>

        <div class="form-group col-md-3">
          <label for="campo1">Telefone</label>
          <p>(62)0000-0000</p>
        </div>

        <div class="form-group col-md-3">
          <label for="campo1">Celular</label>
          <p>(62)90000-0000</p>
        </div>

        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Email</label>
          <p>meu@mail.com</p>
        </div>


        <div class="form-group col-md-3">
          <label for="campo2">CEP</label>
          <p>74000-000</p>
        </div>

        <div class="form-group col-md-3">
          <label for="inputState">Rua</label>
          <p>Rua xxxxx </p>
        </div>

        <div class="form-group col-md-3">
          <label for="inputState">Numero</label>
          <p>444</p>
        </div>

        <div class="form-group col-md-3">
          <label for="inputState">Setor</label>
          <p>Setor Bueno</p>
        </div>

        <div class="form-group col-md-6">
          <label for="inputState">Complemento</label>
          <p>Qd XX Lt xx-aa</p>
        </div>

        <div class="form-group col-md-3">
          <label for="inputState">Município</label>
          <p>Goiânia</p>
        </div>

        <div class="form-group col-md-2">
          <label for="inputState">Estado</label>
          <p>Goias</p>
        </div>

      </div>
      <hr/>

      <div class="table-wrapper-scroll-y">

        <table class="table table-wrapper-scroll-y">
          <thead>
            <tr>
              <th scope="col">Bancos Castrados</th>
              <th scope="col">Agencia</th>
              <th scope="col">Conta</th>
              <th scope="col">Operação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Caixa Economica Federal</td>
              <td>1234</td>
              <td>12345678-1</td>
              <td>001</td>
            </tr>
            <tr>
              <td>Itau - <b>(Encerrada em 16/10/2018 17:00 - ADMIN)</b></td>
              <td>1234-5</td>
              <td>12345678-1</td>
              <td>013</td>
            </tr>
          </tbody>
        </table>

      </div>

      <hr />
      <div id="actions" class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-default">Voltar</a>
          <a href="#" class="btn btn-primary">Atualizar</a>
        </div>
      </div>
      <hr />


      <div id="box">
          <div class="form-group col-md-12">
  
            <div style="width: 30vw;" class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Informe o Apartamento/Torre/Nome Condômino">
              <span class="input-group-btn">
                <button type="button" class="btn btn-success btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
  
            <hr />
  
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option selected>101-B | José da Silva</option>
              <option>102-B | Maria Aparecida</option>
            </select>
  
            <hr />
  
            <div id="actions" class="row">
              <div class="col-md-12">
                <a href="#" class="btn btn-primary">Listar</a>
              </div>
            </div>
  
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>


    </form>



  </div>


</section>