<!--?php
    //Pega as variáveis para renderizar a página
    $valores = $this->getHTMLValores();       
?-->

<section class="content-header">
  <h1>
    Previsão de Despesas
  </h1>
</section>
<section class="content">
 
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Previsão de Despesas</h3><br><br>
      
      <!--Calendario-->
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-0 control-label">Mês</label>
              <div class="col-sm-2">
                <div class="input-group date" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                  <input type="text" class="form-control" id="exemplo"><!--colocar uma mascara e o nome do lado, só mes e ano-->
                    <div class="input-group-addon" >
                      <span class="fa fa-calendar" id="date" onclick="this.focus()"></span>
                    </div>
                </div>
              </div>
          </div>
        </form>

      <!-- Botão para chamar tela Modal -->
      <button type="button" class="fa fa-plus btn bg-olive" data-toggle="modal" data-target="#myModal">
        Adicionar item
      </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <!--Botão para fechar tela Modal-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Despesas</h4>
              </div><!--/.modal-header-->
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="disabledTextInput">Selecione uma Despesa</label>
                      <select id="combobox" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div><!--/.form-group-->
                </form>
                  ...
              </div><!--/.modal-body-->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
              </div><!--/.modal-footer-->
            </div><!--/.modal-content-->
          </div><!--/modal-dialog-->
        </div>
    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-striped no-margin">
          <thead>
            <tr>
              <th>#</th>
               <th>Despesa</th>
               <th>Valor</th>
               <th>Descrição</th>
               <th></th>
            </tr> 
          </thead>
          <tbody id="bodyTable">
            <tr class="demo">
              <td>1</td>
              <td>OR9842</td>
              <td><input class="form-control input_valor"></td> 
              <td><input class="form-control input_desc" type="text"></td>
              <td>
                <div class="tools">
                  <i class="fa fa-trash" data-toggle="modal" data-target="#confirm"></i> 

                </div><!--/.tools-->
              </td>
            </tr>
            <tr class="demo" >
              <td>2</td>
              <td>OR1848</td>
              <td><input class="form-control input_valor"></td>
              <td><input class="form-control input_desc" type="text"></td>
              <td>
                <div class="tools">
                  <i class="fa fa-trash" data-toggle="modal"></i>                    
            </tr>
          </tbody>
        </table><!-- /.table .table-striped -->
          <br/>
          <div class="optEdit">
            <button id="btnNovo" type="button" class="btn btn-block btn-success btn-lg">
              <i class="fa fa-plus"></i>
            </button>
          </div><!--/.optEdit-->
          <br/>       
      </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>

<script>
  //calendário
  $("#exemplo").datepicker();

  //mascara inputmask, ERRO= não muda dinamicamente quando add outros
  $(".input_valor").inputmask({
    'alias': 'decimal',
    'groupSeparator': '',
    'digits': 2,
    'autoGroup': true,
    'digitsOptional': false,
    rightAlign: true,
    numericInput: true 
  });   

  //valor invalido na mascara
  Inputmask.extendDefaults({
      onKeyValidation: function(key, result){
          if (!result){
          alert('Valor inválido')
          }
      }
  });
</script>
