<!--?php
    //Pega as variáveis para renderizar a página
    $valores = $this->getHTMLValores();       
?-->

<section class="content-header">
  <h1>
    Previsão de Despesas
  </h1>
</section>
<section class="content">

  <style>
    .demo td div{visibility: hidden;}
    .demo:hover td div {visibility: visible;}
    th, td{text-align: center;}
    input.input_desc, .input_valor{
        background:none;
        border: none;
    }
    input.input_desc{width: 45vw;}
    .ui-datepicker-calendar {display: none;}
    .config{
      float: right;
      display: inline-block;
    }
    .date{
      width: 15%;
    }
    #vl{
      padding-left: 20;
      
    }
    #aa{
      height: 34px;
    }

     
  </style>

    <script  src = "Views/Sistema/admin/bower_components/jquery/dist/jquery.js"></script> 
    <script  src = "Views/Sistema/admin/bower_components/jquery/dist/jquery.min.js"></script> 

    <script  src = "Views/Sistema/admin/bower_components/bootstrap/js/modal.js"></script> 
  
    <!--InputMask-->
    <script  src = "Cazulo/Views/Sistema/admin/bower_components/inputmask/dist/jquery.inputmask.bundle.js"></script>
    
    <!--DatePicker-->
    <link rel = "stylesheet" href ="Cazulo/Views/Sistema/admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
    <script src ="Cazulo/Views/Sistema/admin/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src ="Views/Sistema/admin/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <!--Bootstrap-Combobox-->
    <link rel = "stylesheet" href ="Views/Sistema/admin/bower_components/bootstrap-combobox/css/bootstrap-combobox.css">
    <script src ="Views/Sistema/admin/bower_components/bootstrap-combobox/js/bootstrap-combobox.js"></script>


    <link rel = "stylesheet" href ="Views/Sistema/admin/css/style_css.css">
    <script src ="Views/Sistema/admin/js/script_js.js"></script>
    

  <div class="box box-info">
    <div class="box-header with-border">

      <!--Calendario-->
        <div class="form-group calendar">
          <label>Date masks:</label>
          <!--Configuração-->
          <div class="config">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myConfig">
                <i class="glyphicon glyphicon-cog"></i>
              </button>

              <!-- Modal -->
        <div class="modal fade" id="myConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <!--Botão para fechar tela Modal-->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Configuração da Taxa de Condomínio</h4>
                </div><!--/.modal-header-->
                <div class="modal-body">
                    <form class="form-inline">
                      <input type="text" class="form-control">
                      <label>%</label> 
                    </form>

                </div><!--/.modal-body-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar mudanças</button>
                </div><!--/.modal-footer-->
              </div><!--/.modal-content-->
            </div><!--/modal-dialog-->
            </div>
          </div>
            <div class="input-group date">
              <input type="text" class="form-control" id="data">
              <div class="input-group-addon">
                <i class="fa fa-calendar" onclick="this.focus()"></i>
              </div>
            </div>
        </div>
        


      <!-- Botão para chamar tela Modal -->
      <button type="button" class="fa fa-plus btn bg-olive" data-toggle="modal" data-target="#myModal">
        Adicionar item
      </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <!--Botão para fechar tela Modal-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Despesas</h4>
              </div><!--/.modal-header-->
              <div class="modal-body">
                  <form class="form-inline">
                      <div class="form-group">
                        <select class="combobox form-control" style="display: none;">
                          <option value="" selected="selected">Selecione sua despesa</option>
                          <option value="Agua">Água</option>
                          <option value="Adm. Condominio">Adm. Condominio</option>
                          <option value="Eletricidade">Eletricidade</option>
                          <option value="Seguranca">Segurança</option>
                          <option value="Manutencao Elevador">Manutenção Elevador</option>
                        </select>
                        <label id="vl">Valor</label>
                        <input id="aa">
                      </div>
                    </form>
                    <label>Descrição</label>
                    <input>
                    
              </div><!--/.modal-body-->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
              </div><!--/.modal-footer-->
            </div><!--/.modal-content-->
          </div><!--/modal-dialog-->
        </div>

    </div><!-- /.box-header -->

    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-striped no-margin">
          <thead>
            <tr>
              <th>#</th>
               <th>Despesa</th>
               <th>Valor</th>
               <th>Descrição</th>
               <th></th>
            </tr> 
          </thead>
          <tbody id="bodyTable">
            <tr class="demo">
              <td>1</td>
              <td>OR9842</td>
              <td><input class="form-control input_valor"></td> 
              <td><input class="form-control input_desc" type="text"></td>
              <td>
                <div class="tools">
                  <i class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#confirm"></i>
                </div><!--/.tools-->
              </td>
            </tr>
            <tr class="demo" >
              <td>2</td>
              <td>OR1848</td>
              <td><input class="form-control input_valor"></td>
              <td><input class="form-control input_desc" type="text"></td>
              <td>
                <div class="tools">
                  <i class="glyphicon glyphicon-trash" data-toggle="modal"></i>                    
            </tr>
          </tbody>
        </table><!-- /.table .table-striped -->
          <br/>
          <div class="optEdit">
            <button id="btnNovo" type="button" class="btn btn-block btn-success btn-lg">
              <i class="fa fa-plus"></i>
            </button>
          </div><!--/.optEdit-->
          <br/>       
      </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>

<script>
//mascara inputmask, ERRO= não muda dinamicamente quando add outros
$(document).ready(function() {
    $(".input_valor").inputmask({
    'alias': 'decimal',
    'groupSeparator': '',
    'digits': 2,
    'autoGroup': true,
    'digitsOptional': false,
    rightAlign: true,
    numericInput: true 
    });   
  });   
  //valor invalido na mascara
  $(document).ready(function() {
      Inputmask.extendDefaults({
      onKeyValidation: function(key, result){
          if (!result){
          alert('Valor inválido')
          }
      }
      });
  });
  
  
  
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.combobox').combobox();
  });
</script>