<section class="content-header">
  <h1>
    Condomínios
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <div id="main" class="container-fluid">

    <!--Modificando o titulo da pagina-->
    <h3 class="page-header">Listar Condomínios </h3>

    <!--Adcionar botoes-->
    <form>
      <!-- area de campos do form -->

      <!--Adcionar campos-->

      <div id="box">
        <div class="form-group col-md-12">

          <div style="width: 20vw;" class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Informe o CNPJ/Nome Condomínio">
            <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>

          <hr />

          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option selected>19.494.332/0001-06 | Condomínio Residencial Liberty II </option>
            <option>00.234.456/0001-06 | Condomínio Residencial Liberty IV </option>
          </select>

          <hr />

          <div id="actions" class="row">
            <div class="col-md-12">
              <a href="#" class="btn btn-primary">Listar</a>
            </div>
          </div>

        </div>
        <div style="clear: both;"></div>
      </div>
    </div>
  </form>
  </div>
</section>