<section class="content-header">
  <h1>
    Cadastro Condôminos
    <small>Formulario de cadastro</small>
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
        | Your Page Content Here |
        -------------------------->

  <div id="main" class="container-fluid">

    <!--Modificando o titulo da pagina-->
    <h3 class="page-header">Listar dados dos Condominios </h3>

    <!--Adcionar botoes-->
    <form action="index.html">
      <!-- area de campos do form -->

      <!--Adcionar campos-->

      <div class="container" id="box">

        <div class="form-group col-md-12">
          <label for="exampleFormControlSelect2">Condominios</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Libetr II</option>
            <option>Kalarary</option>
            <option>YES 2</option>
            <option>Solar dos Passaros</option>
            <option>Jardins Madri</option>
          </select>
        </div>




        <div class="form-group col-md-3">
          <label for="inputState">UF</label>
          <select id="inputState" class="form-control">
            <option value="">Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MT">Mato Grosso</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>

          </select>
        </div>

        <hr />
        <div id="actions" class="row">
          <div class="col-md-12">
            <a href="" class="btn btn-primary">Listar</a>
            <a href="" class="btn btn-danger">Cancelar</a>
          </div>
        </div>


      </div>
    </form>



  </div>


</section>