/*Style para Logins*/
.load_img{  
    
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  background-color:rgba(24, 24, 25, 0.2);

}
.load_img::before{    
  content: " ";

  z-index: 10; 
  height: 15vh; 
  width: 15vw; 
  top: -7.5vh;
  left: -7.5vw;
  margin-top: 50vh;
  margin-left: 50vw;
  position: absolute;    
  border-radius: 1vw;
  box-shadow: 4px 4px rgba(0,0,0,0.4);
 
  background-size: 15vw 15vh;
  background-color:rgba(214, 214, 224, 0.8);
  background-image: url("../../../img/load.gif");
}
/*FIM Style para Logins*/

/*Style para Tabelas*/
.div_table, .div_table_result{
  padding: 1px; 
  border-radius: 5px 5px 0 0; 
  margin:10px; 
  margin-bottom:20px; 
  min-width: 330px;
  float:left;
}

.div_table, .div_table_bancario{width: 36vw;}
.div_table_result{width: 60vw;}

.div_table_bancario{background-color: #756d6d40;}
.div_table_bancario div table tr:last-child{background-color: #756d6dbd;}

.div_table_receita{background-color: #1cc10842;}
.div_table_receita div table tr:last-child{background-color: #1cc1089c;}

.div_table_despesas{background-color: #ff050559;}
.div_table_despesas div table tr:last-child{background-color: #f908088c;}

.div_table_bancario div table tbody tr td:nth-last-child(2),
.div_table_receita div table tbody tr td:nth-last-child(2),
.div_table_result div table tbody tr td:nth-last-child(2),
.div_table_despesas div table tbody tr td:nth-last-child(2)
{text-align:right;
width: 12vw;}

.div_table_bancario div table tbody tr td:last-child,
.div_table_receita div table tbody tr td:last-child,
.div_table_result div table tbody tr td:last-child,
.div_table_despesas div table tbody tr td:last-child
{width:1%;}

.div_table_bancario div table tbody tr td:first-child,
.div_table_receita div table tbody tr td:first-child,
.div_table_result div table tbody tr td:first-child,
.div_table_despesas div table tbody tr td:first-child
{font-size: 1.3rem; 
text-align:left;}

.div_table_result div table tbody tr:last-child td:first-child,
.div_table_bancario div table tbody tr:last-child,
.div_table_receita div table tbody tr:last-child,
.div_table_result div table tbody tr:last-child ,
.div_table_despesas div table tbody tr:last-child
{color: black; 
font-weight: bold; 
font-size: 1.6rem; 
text-align:right;}
/*FIM - Style para Tabelas*/

/*Previsão despesa*/

.demo td i, .demo td button{visibility: hidden;}
.demo:hover td i {visibility: visible;}
.demo td i .glyphicon-trash{
width: 17;
height: 17;
}
th, td{text-align: center;}
input.input_desc, .input_valor{
  background:none;
  border: none;
}
input.input_desc{width: 45vw;}
.ui-datepicker-calendar {display: none;}
.icone-desp, button.glyphicon.glyphicon-floppy-disk.btn.btn-primary{
float:right;
display: inline-block;
}
.date{
width: 15%;
}
.form-group label{
padding-right: 10;
padding-left: 10;
}

input#valor{
width: 20vw;
height: 34px;
}
input#descricao{
margin-top: 1vw;
height: 34px;
width: 48vw;
}
tfoot#footTable{
visibility: hidden;
}
th#total{
color: red;
}
input[type="checkbox"] {
float: left;
visibility: hidden;
}
input#comboundefined.combobox.form-control, span.input-group-addon.dropdown-toggle{
border: 1px solid #999;
}
span.input-group-addon.dropdown-toggle{
border-left: none;
}
button.glyphicon.glyphicon-floppy-disk.btn.btn-primary{
width: 100px;
margin-right: 15pt; 
font-size: 14pt;
}
/*Fim previsão despesa*/

/*Taxa de condominio*/
a#gerarBoleto{
  float: right;
}
/*Fim da Taxa de condominio*/

#box{
  background-color:rgb(205, 217, 221);
  border-radius: 10px;
  padding: 10px;  
}

#btn-Banco{
  background: rgb(18, 142, 184);
}

.selecEmpresa {
  padding: 10px;
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.selecEmpresa input{
  width: 100%;
}

.search-input {
  display: inline-block;
  float: left;
  width: 100%;
  transition: 250ms all ease-in-out;
}

.consulta-group {
  width: 250px;
}

.search-input:focus {
  width: 200px;
}

