<!DOCTYPE html>
<html lang="pr-br">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Template Cadastro</title>
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link href="css/style.css" rel="stylesheet">
</head>

<style>
h4{
  color: blue
}

H3 {
  color: white
}

label{
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

button{
  color: white
}

a{
  color: white
}
</style>  


<body background="images/toronto-tower-01.jpg"> 

<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand-center" href="#">
      <img src="/images/favicon.ico" width="60" height="60" class="d-inline-block align-top" alt="">
      <h4>Cazulo</h4>
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>

              
 <div id="main" class="container-fluid">
  
    <h3 class="page-header">Editar Item</h3>
    
    <form action="index.html">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="exampleInputEmail1">Campo Um</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-4">
          <label for="exampleInputEmail1">Campo Dois</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-4">
          <label for="exampleInputEmail1">Campo Três</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Quatro</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Cinco</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Seis</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Sete</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Campo Oito</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Campo Nove</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Dez</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Onze</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Doze</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-3">
          <label for="exampleInputEmail1">Campo Treza</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Campo Quatorze</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
      <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Campo Quinze</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor">
        </div>
    </div>
    
    <hr />
    
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Atualizar</button>
      <a href="template.html" class="btn btn-default">Cancelar</a>
      </div>
    </div>
  
    </form>
   </div>

 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>

</body>
</html>