<!DOCTYPE html>
<html lang="pr-br">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Template Cadastro</title>
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link href="css/style.css" rel="stylesheet">
</head>


<body> 

             <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">Navbar</a>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </nav>

               <div id="main" class="container-fluid">
                    <h3 class="page-header">Template Inicial</h3>
                </div>

 <script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>

</body>
</html>